<h2><strong style="color: rgb(255, 121, 0);">이벤트 소개</strong></h2>
<h3 class="ql-align-center"><strong style="color: inherit;" class="ql-size-large">나다운 커리어를 만드는 과정을 공유합니다!</strong></h3>
<p class="ql-align-center"><br></p>
<p>충고, 조언, 정보가 넘쳐 나는 시대이지만, 나만의 것은 아직 무엇인지 모르겠다! 달려갈 에너지가 고갈됐다! 업무의 기본기를 탄탄하게 쌓고 싶다!</p>
<p><br></p>
<p>우리는 일을 하며, 삶을 살아가며 야심과 두려움을 동시에 갖고 있습니다. 잘 하고 싶은 마음이 굴뚝같으면서도 '지금 제대로 하고 있나?'라는 생각에 겁이 덜컥 나곤 하죠.</p>
<p><br></p>
<p>여기 뉴욕에서 자신의 이름을 건 브랜드 'YUNA YANG'을 10년 넘게 운영하며 20차례 뉴욕패션위크에 컬렉션을 선보인 크리에이티브 디렉터가 있습니다. 바로 유나양 님입니다.</p>
<p><br></p>
<p>왠지 너무 화려한, 나와는 다른 세상의 이야기 같다고요? 아니오!</p>
<p><br></p>
<p>정글과 같은 뉴욕에서 하이엔드 브랜드를 키워내면서 미국 최고 패션지 &lt;Women's Wear Daily&gt; 한국 디자이너 최초 커버스토리 장식하고, 모델이자 테슬라 CEO 일론 머스크의 어머니인 메이
    머스크가 극찬한 디자이너가 됐지만 유나양 님도 시작은 여러분과 비슷했고, 일하는 과정에서 맞닥뜨리는 어려움도 크게 다르지 않습니다.</p>
<p><br></p>
<p><img
        src="https://image.trevari.co.kr/file/6c4660ce-2e0d-43db-a49b-3f11845b34ea.%ED%8C%90%EB%A7%A4%ED%8E%98%EC%9D%B4%EC%A7%803_%EC%84%9C%EB%AA%85.png">
</p>
<p><br></p>
<p>대학에서 서양화를 전공하고 패션의 'ABC'도 모른 채 유학을 떠났지만 우연하게, 운명처럼 그 길로 들어섰어요. 가슴 뛰는 일을 찾았으니 열심히 일했죠. 늘 쉽지만은 않습니다. 매일이 새로운 도전이죠. 독창적인
    디자인을 해내고, 브랜드를 관리 경영하며, 마케팅 전략을 기획하고, 스타트업처럼 투자자를 미팅하고, 원단 등 재료를 다루는 생산 라인과 협업 합니다. 채용을 하고, 에이전트나 백화점 등과 커뮤니케이션도
    해야하죠.</p>
<p><br></p>
<p>꼭 패션업계가 아니라도 크리에이팅, 브랜딩, 마케팅, 커뮤니케이션, 투자, 채용 등 업무 현장에서 필요한 탄탄한 기본기와 노하우를 알고 싶지 않으신가요? 가슴 뛰는 일을 찾고, 그 길을 향해 갈 용기가 필요하지
    않으신가요?</p>
<p><br></p>
<p><br></p>
<h3 class="ql-align-center"><strong style="color: inherit;" class="ql-size-large">"오직 10명만을 위한 대화"</strong></h3>
<p class="ql-align-center"><br></p>
<p>여러분의 고민을 털어놓고 유나양 님의 거침없지만 애정어린 조언을 들어보세요! 책에서 영감을 얻는다는 유나양 님이 직접 추천한 책을 함께 읽고 토론하면서 각자 인생의 런웨이를 만들 실마리를 찾아볼 수 있을
    겁니다.</p>
<p><br></p>
<p>유나양 님은 이렇게 말합니다. "자신을 아는 것이 가장 중요해요. 내가 뭘 잘 할 수 있는지 모르고 정신없이 사는데 이건 너무 위험해요."</p>
<p><br></p>
<p>최근 펴낸 &lt;<a
        href="https://search.daum.net/search?w=bookpage&amp;bookId=5678861&amp;tab=introduction&amp;DA=LB2&amp;q=%ED%94%BC%EC%96%B4%EB%A6%AC%EC%8A%A4%20%EC%B1%85"
        target="_blank" style="background-color: transparent; color: rgb(23, 120, 181);">피어리스(fearless)</a>&gt;라는 에세이
    제목처럼 '두려움없이', 나만의 길을 뚜벅뚜벅 걸어가며 세상에 없는 카테고리를 만들어낸 유나양 님과 대화를 나눠보세요. 영감을 얻게 되실 겁니다.</p>
<p><br></p>
<p><img
        src="https://image.trevari.co.kr/file/bccae979-f6cf-4588-ae67-59a1e16a4035.%ED%8C%90%EB%A7%A4%ED%8E%98%EC%9D%B4%EC%A7%804_%EC%84%9C%EB%AA%85.png">
</p>
<p><img
        src="https://image.trevari.co.kr/file/480e2e74-59f8-4382-acf6-c04c94f54bec.%ED%8C%90%EB%A7%A4%ED%8E%98%EC%9D%B4%EC%A7%805_%EC%84%9C%EB%AA%85%20%EC%88%98%EC%A0%95.png">
</p>
<p><br></p>
<h3><strong style="color: rgb(255, 121, 0);">이런 분들께 추천드려요</strong></h3>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>나를 '갈아 넣지 않고' 나만의 길을 만들고 싶은 분</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>가슴 뛰는 일을 선택하고 그 일에서 나만의 '무엇'을 만들어내고 싶은 분
    </li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>어떤 기준으로 커리어를 선택해야 할지 망설이고 계신 분</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>전공이 100% 적성에 맞지 않아 새로운 일을 시작하고 싶은 분</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>일의 기본기를 배우고, 업계의 현장에서부터 최고 의사결정라인까지 쭉 간접
        경험해 보고 싶은 분</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>패션업이 아니더라도 브랜딩, 마케팅, 창업과 투자 등 비즈니스 꿀팁을 얻고
        싶은 분</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>평범을 비범으로 바꿔 내고 싶은 분</li>
</ol>
<p><br></p>
<p><br></p>
<p>유나양 님과의 만남에 앞서 궁금한 점이 있다면&nbsp;아래 링크에 남겨주세요!</p>
<p><strong>👉</strong><a href="https://bit.ly/2VNS6Ay" target="_blank"
        style="background-color: transparent; color: rgb(23, 120, 181);">https://bit.ly/2VNS6Ay</a></p>
<p><br></p>
<hr class="hr" style="width:100%;border-bottom:1px solid #f3f3f6;">
<p><br></p>
<h3><strong style="color: rgb(255, 121, 0);">호스트</strong></h3>
<p><br></p>
<p><img
        src="https://image.trevari.co.kr/file/ed4fd332-286f-4672-a214-e41bb86f89b3.%EC%9C%A0%EB%82%98%EC%96%91_%EC%9E%91%EA%B0%80%EB%8B%98_%ED%94%84%EB%A1%9C%ED%95%84_2.jpg">
</p>
<p><br></p>
<p><strong>유나양님</strong></p>
<p>이화여대 서양화과를 졸업한 뒤 이탈리아 밀라노에 어학연수를 갔다가 운명처럼 패션으로 방향을 튼다. 인스티튜트 마랑고니 디자인 코스를 밟고, 영국 런던 센트럴 세인트 마틴스에서 여성복을 전공했다.</p>
<p><br></p>
<p>유럽 명품 브랜드들을 거치며 경력을 쌓은 뒤 2010년 자신의 이름을 건 브랜드 'YUNA YANG'을 뉴욕에서 론칭한다. 발음하기 모호한 '유나'라는 아시아 이름으로 비즈니스를 한다고 했을 때 주변에선
    하나같이 영어 이름을 쓰라며 만류했다. 오기가 생겨 'YUNA YANG'을 고집했다. 지금은 '이상한 동양 아이'가 아니라 "아시아에서 성장하고 유럽에서 훈련받은 유럽파 뉴욕 베이스 디자이너"라는 이색적
    경력의 디자이너로 소개된다.</p>
<p><br></p>
<p>디자인 뿐만 아니라 브랜드 관리, 기획, 전략 등을 총괄하기에 스스로를 '크리에이티브 디렉터'로 소개한다. 현재 패션 강국인 미국, 일본, 유럽 등에서 럭셔리 브랜드로 각광받고 있다.</p>
<p><br></p>
<p>20세기 폭스사와 리즈 위더스푼, 로버트 패틴슨 주연의 영화 &lt;워터 포 앨리펀트&gt; 홍보의상, 조지루커스 필름 등 미국 엔터테인먼트 업계와 협업했다. 톱모델이자 일론 머스크의 어머니 메이 머스크,
    그래미상 수상 가수 캐리 언더우드, 유명 저널리스트 앤 커리, 에미상 수상 배우 안나 건, 전설의 슈퍼 모델 캐롤 알트, &lt;블랙팬서&gt; &lt;워킹데드&gt;의 다나이 구리라, 다비 스탠치필드,
    브리타니 스노우, 줄리언 허프 등이 그의 팬이다.</p>
<p><br></p>
<h3><strong style="color: rgb(255, 121, 0);">프로그램</strong></h3>
<p><br></p>
<p><strong>📍 본 이벤트는 1부 함께 듣는 세션과 2부 클럽장과 대화하는 세션으로 나누어 줌 웨비나로 진행됩니다. 어디서든 편하게 즐겨보세요.</strong></p>
<p><br></p>
<p><strong>📍 1부에서는 유나양 님의 경험과 노하우가 담긴 강연에 이어 채팅을 통한 Q&amp;A가, 2부에서는 참여 멤버 수를 줄여 유나양 님이 선정한 책을 바탕으로 보다 밀도있는 독서 토론이
        진행됩니다.&nbsp;</strong><strong style="color: rgb(255, 153, 0);">좀 더 쫀쫀한 대화와 깊이 있는 인사이트를 나눠 보시려면 현재 보고 계신 페이지에서
        신청하세요!</strong></p>
<p><br></p>
<p><strong>📍 1부 듣는 세션만 참여하고 싶으시다면</strong><strong style="color: rgb(255, 153, 0);">👉</strong><a
        href="https://trevari.co.kr/events/show?eventID=a0727b16-9e00-4138-8914-16db32a9df55" target="_blank"
        style="background-color: transparent; color: rgb(255, 153, 0);"><strong>여기</strong></a><strong>를 클릭하세요!</strong>
</p>
<p><br></p>
<p><br></p>
<p>📚&nbsp;<strong>진행순서</strong></p>
<p><br></p>
<p>1부 함께 듣는 세션 (1시간 30분)</p>
<p><br></p>
<p>19:40 ~ 19:50&nbsp;&nbsp;|&nbsp;유나양 님 소개</p>
<p>19:50 ~&nbsp;20:40&nbsp;&nbsp;| 유나양 님 강연 (feat. 에세이 &lt;피어리스&gt;)</p>
<p>20:40 ~ 21:10&nbsp;| 라이브 채팅 Q&amp;A</p>
<p><br></p>
<p>2부 클럽장과 대화하는 세션 (1시간 30분)</p>
<p><br></p>
<p>21:20 ~ 22:50 |&nbsp;유나양 님 추천 도서를 바탕으로 한 독서 토론</p>
<p><br></p>
<p><br></p>
<p><strong>📍이 책은 어떠신가요?</strong></p>
<p>2부에서는 유나양 님에게 영감을 준 책들에 대해 이야기를 나눕니다. 추천 도서를 꼭 읽지 않아도 세션에 참석할 수 있습니다.</p>
<p><br></p>
<p>📙 데이비드 색스 『사장의 탄생</p>
<p>추천이유❓ 데이비드 색스의 전작 『아날로그의 반격』을 읽으면서 저의 비전과 비슷한 부분이 많아 영감을 많이 받았는데, 『사장의 탄생』은 스타트업이나 창업을 꿈꾸는 분들에게 좋은 지침서가 될 수 있을 것 같아요.
    제가 생각하는 것처럼 사장은 타고나는 것이 아닌 누구나 될수 있는 것이라는 관점도 마음에 듭니다. 결국엔 회사를 창업하고 브랜드의 탄생시키고 하는 모든 과정에 가장 중요한 것은&nbsp;사람이니까요.</p>
<p><br></p>
<p>📙 파울로 코엘료 『연금술사</p>
<p>추천이유❓ 인생은 자아를 찾아가는 여정. 저의 인생도 연금술사의 양치기 산티아고와 다르지 않습니다.&nbsp;위기를 극복하고 안주하고 싶은 마음을 억누르고 다시 도전하고&nbsp;우리 모두의 인생은 어쩌면
    산티아고의 인생과 닮아있는 것은 아닐까요?&nbsp;1-2년에 한 번씩 꼭 다시 읽어보고 마음을 다잡아 봅니다.</p>
<p><br></p>
<p>📙 진중권 『미학 오디세이』 1~3</p>
<p>추천이유❓ 대학시절 읽은 책들중 영감을 준 책입니다.&nbsp;지금도 가끔 다시 읽는데 이미 알고 있는 미술가들을 새로운 관점으로 해석한 점이 신선하고 창조적인 일을 하는 사람으로서 영감을 많이 받았습니다.
    미술에 관심 있는 분들, 눈에 보이지는 않는 것에서 영감을 받고 싶은 분들에게 권합니다.</p>
<p><br></p>
<hr class="hr" style="width:100%;border-bottom:1px solid #f3f3f6;">
<p><br></p>
<h3><strong style="color: rgb(255, 121, 0);">위치</strong></h3>
<p><br></p>
<p><a href="https://zoom.us/download" target="_blank"
        style="background-color: transparent; color: rgb(23, 120, 181);">온라인(Zoom)</a></p>
<p>Zoom으로 진행됩니다.</p>
<p><br></p>
<h3><strong style="color: rgb(255, 121, 0);">공지사항</strong></h3>
<p><br></p>
<h4><strong style="color: inherit;">이벤트 신청 오픈</strong></h4>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 8월 17일 화요일 오후 3시</li>
</ol>
<p><br></p>
<h4><strong style="color: inherit;">비멤버 신청</strong></h4>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 설레임 홈페이지 회원가입 후 비멤버가로 신청하실 수 있습니다.</li>
</ol>
<p><br></p>
<h4><strong style="color: inherit;">안내</strong></h4>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 이벤트 진행 관련 안내는 가입시 등록해주신 휴대전화 번호로 문자
        안내해드리겠습니다. 마이페이지를 통해서 등록된 번호를 확인해주세요.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>이벤트에 참여하실 수 있는 줌 웨비나 접속 정보는 9월 8일 문자로
        전달됩니다.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>모바일로 참여하실 경우 줌(Zoom) 앱을 미리 설치하시면 더 쉽게 접속하실
        수 있습니다.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 이벤트 당일, 접속 오류 등의 이유로 고객 지원이 필요한 경우 다음
        카카오채널 링크 (<a href="https://bit.ly/2QzozIB" target="_blank"
            style="background-color: transparent; color: rgb(0, 71, 178);">https://bit.ly/2QzozIB</a>)로 문의해 주세요. </li>
</ol>
<p><br></p>
<h4><strong style="color: inherit;">환불 기한</strong></h4>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>모임 5일 전 오후 11시 59분까지 100% 환불, 이후에는 양도만
        가능합니다.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 환불은 설레임 홈페이지의 '마이페이지' - '이벤트' 탭에서 하실 수
        있습니다.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 모임의 참석 여부는 환불과 무관합니다.</li>
</ol>
<p><br></p>
<h4><strong style="color: inherit;">문의</strong></h4>
<ol>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span> 설레임 고객센터(contact@trevari.co.kr)로 메일을
        보내주세요.</li>
    <li data-list="bullet"><span class="ql-ui" contenteditable="false"></span>이벤트를 양도하신 경우, 위 메일로 1) 이벤트 이름 2) 양도하시는 분의
        성함과 연락처 3) 양도받으신 분의 성함과 연락처를 보내주세요.</li>
</ol>